
    h3,label{
    color: #ffffff;
  }
  
  .login{
    background-color: #292D3E;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  
  .signin-text{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .register-text{
    padding-top: 1em;
  }
  
  
  
  