i{
    font-size: 25px;
}

.card{
    width: 300px;
    height: 100px;
}

.container{
    padding-top: 50px;
}

.section-chart{
    padding-top: 50px;
}

.card-resumen{
    padding-top: 20px;
}

.chart-wrapper { display: flex; overflow: hidden; }
// .col-4{
//     padding-top: 50px;
// }